<header class="header">
  <a href="/" class="header__logo">Admin Panel</a>
  <nav class="header__nav">
    <ul>
        <li><a href="/" class="">Home</a></li>
        <li><a href="/allposts" class="">See Posts</a></li>
        <li><a href="/login" class="">Login</a></li>
        <li><a href="/signup" class="">Signup</a></li>
      </ul>
  </nav>
  <div class="header__button">
    <a href="/logout"> Logout </a>
  </div>
</header>
