<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Welecome To blogaa</h2>
    <h3>Where your voice is heard</h3>
    <a href="/user" class="btn">Start Blogging</a>
  </div>
</header>


<%- include('partials/footer'); -%>