<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Welecome To blogaa</h2>
    <h3>Where your voice is heard</h3>
    <a href="/user" class="btn">Start Blogging</a>
  </div>
</header>
<!-- <div class="hero-container-1">
  <div class="smoothie">
    <img src="/blogger.jpeg" alt="">
  </div>
  <div class="headings">
    <h2>Welecome To blogaa</h2>
    <h3>Where your voice is heard</h3>
  </div>
</div>
<div class="hero-container-2">
  <div class="smoothie">
    <img src="/bloggers.jpeg" alt="">
  </div>
  <div class="headings">
    <h2>Welecome To blogaa</h2>
    <h3>Where your voice is heard</h3>
  </div>
</div> -->


<%- include('partials/footer'); -%>