<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Welecome To blogaa</h2>
    <h3>Where your voice is heard</h3>
    <a href="/user" class="btn">Start Blogging</a>
  </div>
</header>
<div class="hero-container-1">
  <div class="smoothie">
    <img src="/blogger.png" alt="">
  </div>
  <div class="headings">
    <h1>Effortlessly create and publish blog posts</h1>
    <p>Welcome to our platform, where blogging is made simple and enjoyable. With our intuitive interface, you can effortlessly create and publish captivating blog posts in just a few steps. Whether you're a seasoned writer or just starting out, our tools are designed to help you focus on what matters most: your content.</p>
  </div>
</div>
<div class="hero-container-2">
  <div class="smoothie">
    <img src="/bloggers.png" alt="">
  </div>
  <div class="headings">
    <h1>Engage with a community of like-minded readers and writers</h1>
    <p>Discover a vibrant community where your passion for writing meets a dedicated audience. Our platform connects you with like-minded readers and writers, fostering a supportive environment for sharing and growing together.</p>
  </div>
</div>


<%- include('partials/footer'); -%>