<div class="author">
  <h1 class="author__heading">Welcome to blogger</h1>
  <p class="author__body">A place where your voice shines</p>
</div>
<img
  src="/img/hero-image.webp"
  alt="someone looking outside bs"
  class="hero-image"
  width="981"
  height="528"
/>
