<%- include('partials/header'); -%>

<header>
  
  
  <div class="headings">
    <% if (user) { %>
      <h2>Hello, <%= user.firstName %></h2>
      <% } else { %> <% } %>
    <h4>What is in your mind today?</h4>
  </div>
</header>
<form>
  <h2>Post What's in your mind</h2>
  <label for="title">Title</label>
  <input type="text" name="title" required />
  <div class="error fname"></div>
  <label for="content">Content</label>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <div class="error password"></div>
  <button>Post</button>
</form>
<button class="headings">

  <a href="/myblogs">See your previous posts</a>
</button>
<script>
    const form = document.querySelector("form");
  //const usernameError = document.querySelector(".username.error");
  //const passwordError = document.querySelector(".password.error");
  //usernameError.textContent = "";
  //passwordError.textContent = "";

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const { title, content } = {
      title: form.title.value,
      content: form.content.value,
    };
    try {
      const res = await fetch("/post-blog", {
        method: "POST",
        body: JSON.stringify({ title, content }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      location.assign(`/blog/${data.blog._id}`);
      if (data.errors) {
          usernameError.textContent = data.errors.username;
        //passwordError.Content = data.password;
      }
      console.log(data.user)
      if(data.user){
        console.log(`/blog/${data.id}`)
      }
    } catch (error) {
        console.log(err)
    }
  });
</script>

<%- include('partials/footer'); -%>